@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Smooch+Sans:wght@400;500;600;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.drop{
    background: linear-gradient(180deg, rgba(13,52,58,1) 0%, rgba(255,255,255, 0.6) 100%);
}

html, body, #root{
    height: 100%;
}